Backend/node_modules
Frontend/node_modules
Frontend/.env
Backend/package-lock.json
Frontend/package-lock.json
Backend/.env

# Playwright
Frontend/test-results/
Frontend/playwright-report/
Frontend/playwright/.cache/
